/* flippity.less generates flippity.css */

#usage {
    background-color: #f0d0c0;
}
.right-col {
    text-align: right;
}
/* http://css-tricks.com/snippets/css/better-helvetica/ */
#usage, h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
.flip-container {
    position: relative;
}
#flippity {
    background-color: lightgray;
    transform-style: preserve-3d;
    font-size: 5em;
}
#hint {
    font-size: 35%;
}
#flippity figure {
}
.status {
    position: absolute;
    top: 180px;
    left: 14px;
    font-size: 150%;
}
.outcome {
    position: absolute;
    top: 250px;
    left: 14px;
    font-size: 200%;
}
.flipped {
    -webkit-transform: rotateY(180deg);
}